<div class="notif">
</div>
<div class="container">
  <button class="waves-effect waves-light btn green reveal-button">Reveal</button>
  <button class="waves-effect waves-light btn red hide-button" disabled>Hide</button>
  <div class="player-container">

  </div>
</div>