<div class="container">
  <h3 m10>Register</h3>
  <form class="registration-form">
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" class="validate" required>
        <label for="name">Name</label>
        <button class="waves-effect waves-light btn green" type="submit">Join</button>
      </div>
  </form>
</div>